<html>
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="icon" sizes="192x192" href="/static/favicon_png_chrome.png">
    <title>Ссылочки</title>
</head>
<body>
    <div class="container">
        <form action="/vk/resolve/result" method="post" target="_blank">
            <table>
                <tbody>
                    <h3>Ссылки для сообщений</h3>
                </tbody>
                <tr>
                    <div class="row uniform">
                        <div class="6u 12u(xsmall)"><input name="link" type="text"  id="link" placeholder="Ссылка" /></div>
                    </div>
                </tr><tr>
                    <div class="row uniform">
                        <div class="12u"><input value="Получить" class="special" type="submit" /></div>
                    </div>
                </tr>
            </table>
        </form>
        <center>
            <a href="https://vk.com/go_up4k" target="_blank">UP4K Tools v0.1</a>
            <h6>Мы — UP4K. Мы — программа. Мы не ограничиваем. Мы не освобождаем. Ждите нас...</h6>
        </center>
    </div>
</body>
</html>
